*~
.cache
*.lock

packages/
dart/utilio/bin/packages
dart/utilio/test/packages
dart/utilio/pubspec.lock

dart/demos/pubspec.lock
dart/demos/build
dart/demos/packages
dart/demos/bin/packages
dart/demos/test/packages
dart/demos/test/collection/packages
dart/demos/test/math/combinatorics/packages
dart/demos/test/math/packages
dart/demos/pubspec.lock
dart/demos/web/packages
dart/demos/web/autocomplete/packages


// Avoid committing generated JavaScript files
*.dart.js
*.js_
*.js.deps
*.js.map
